@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
#adminmenuback { width: 160px; background: #404040; }
#adminmenu, #adminmenu .wp-submenu, #adminmenuwrap { width: 160px; background: #505050; }
#adminmenu { margin: 0; }
#wpcontent, #wpfooter { margin-left: 160px; }
#adminmenu .wp-submenu { left: 160px; }
#adminmenu li.wp-menu-separator { height: 0; margin: 0; }
#adminmenu li.menu-top { border-bottom: 1px solid #191e23; }
#adminmenu li a { font-size: 13px !important; padding-top: 5px !important; padding-bottom: 5px !important; }
#wpwrap { font-size: 13px !important; font-family: 'Quicksand', sans-serif !important; font-weight: normal; }
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after { right: 8px; border: 4.5px solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #f1f1f1; top: 50%; margin-top: -3px; }
#adminmenu li a:after { right: 8px; border: 4.5px solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-left-color: #A0A0A0; top: 50%; margin-top: -4px; }
#adminmenu li .wp-submenu li a:after { border: none !important; }
.dashicons, .dashicons-before:before { font-size: 18px !important; }
#login { width: 520px !important; padding: 15% 0 0; }
.login #backtoblog a, .login #nav a { color: #f1f1f1; }
.login { background: #404040 !important; }
.login form { padding: 35px 45px; }
.login form .input, .login input[type=text] { font-size: 15px; padding: 10px; }
.wp-core-ui .button-primary { border: none; border-radius: 0px !important; }
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large { height: 35px; line-height: 28px; padding: 3px 42px; }
#wpfooter p { float: right !important; }

