/* Head top */
.head-top{
  background: $color1;
  color: $color3;
  font-size: 13px;
  padding: 8px 0;
}
.wrapHeader{
  background-color: transparent;
}
.navHe .form-search{
  position: absolute;
  top: 95px;
  right: 0;
  width: 380px;
  opacity: 0;
  pointer-events: none;
  @include smooth(0.3s);
  z-index: 12;
  float: right;
  text-align: right;

  input{
    border: 0;
    box-shadow: 0;
    outline: none;
    @include place(#c5c5c5);
    font-size: 13px;
    width: 100%;
    height: 60px;
    font-style: italic;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    background: $color2;
    padding: 20px;
  }
  &.active{
    opacity: 1;
    top: 100px;
    pointer-events: all;
  }
}

.head-info{
  li{
    display: inline-block;
    padding: 0 25px 0 22px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 14px;
      background: $color3;
      display: block;
      right: 0;
      top: 5px;
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      &::before{
        content: none;
      }
    }
    a{
      &:hover{
        color: $color5;
      }
    }
  }
}

.head-social{
  li{
    display: inline-block;
    padding-left: 25px;
    &:first-child{
      padding-left: 0;
    }
    a{
      &:hover{
        color: $color5;
      }
    }
  }
}

/* Head bottom */
.head-bottom{
  background: $color4;
  padding: 20px 0;
}
.logo{
  text-align: left;
  background-color: #fff;
  height: 250px;
  width: 235px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  transition: ease all 0.7s;
  .imgSc{
    display: none;
  }
}
.navHe{
  width: calc(100% - 235px);
}



@media screen and (max-width: 1199px){

  /* Head top */
  .head-top{
    display: none;
  }
  /* Head bottom */
  .head-bottom{
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    .logo{
      width: 150px;
      text-align: left;
    }
    .form-search{
      display: none;
    }
    .cart{
      background-size: 20px auto;
      padding-left: 30px;
      margin-top: 10px;
      font-size: 20px;
      margin-right: 50px;
      .num-cart{
        font-size: 20px;
      }
    }
  }

  .nav-ct{
    .head-info{
      padding: 5px 15px;
      border-top: 1px rgba($color6, 0.2) solid;
      li{
        display: block;
        padding: 5px 0;
        position: relative;
        &::before{
          content: none;
        }
        a{
          &:hover{
            color: $color5;
          }
        }
      }
    }
    .head-social{
      padding: 10px 15px;
      text-align: center;
      border-top: 1px rgba($color6, 0.2) solid;
      width: 100%;
      .btn-search{
        display: none;
      }
    }
    
    
  }
  .form-search{
    width: 100%;
    top: auto;
    float: none;
    position: relative;
    opacity: 1;
    pointer-events: all;
    margin-top: 0;
    input{
      border: 0;
      outline: none;
      font-size: 13px;
      width: 100%;
      height: 45px;
      padding: 10px;
      font-style: italic;
      -webkit-box-shadow: 0 !important;
      box-shadow: 0 !important;
    }
    .search {
      height:40px;
      width:40px;
      right: 0;
    }
  }
}
