a, a:hover, a:focus, a:active{text-decoration: none;color: inherit;outline: none;}
ol, ul, li{padding: 0;list-style: none;margin: 0;}
label{font-weight: normal;}
input[type="text"], input[type="email"], input[type="password"]{padding-left: 12px;padding-right: 12px;}
select{padding-left: 8px}
input[type="number"]{padding-left: 5px;}
textarea{padding: 8px 12px 5px 12px;}
input, textarea, select, button, a{outline: none;}
button{border: none;background: none;}

@mixin display_flex($align-items, $flex-wrap, $justify-content) {
	display: flex;
	flex-direction: row;
	flex-wrap: ($flex-wrap);
	justify-content: ($justify-content);
	align-items: ($align-items);
	align-content: stretch;
}

@mixin style_text($f-size, $l-height, $l-spacing, $f-weight, $color) {
	font-size: ($f-size);
	line-height: ($l-height);
	letter-spacing: ($l-spacing);
	font-weight: ($f-weight);
	color: ($color);
}



@mixin transition($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	transition: $val;
}
@mixin transition_delay($val){
	-webkit-transition-delay: $val;
	-moz-transition-delay: $val;
	-ms-transition-delay: $val;
	-o-transition-delay: $val;
	transition-delay: $val;
}
@mixin transition_duration($val){
	-webkit-transition-duration : $val;
	-moz-transition-duration : $val;
	-ms-transition-duration : $val;
	-o-transition-duration : $val;
	transition-duration	: $val;
}
@mixin transition_timeing($val){
	-webkit-transition-timing-function: $val;
	-moz-transition-timing-function: $val;
	-ms-transition-timing-function: $val;
	-o-transition-timing-function: $val;
	transition-timing-function: $val;
}
@mixin smooth($val){
	-webkit-transition: all $val ease-in-out;
	-moz-transition: all $val ease-in-out;
	-o-transition: all $val ease-in-out;
	-ms-transition: all $val ease-in-out;
	transition: all $val ease-in-out;
}

@mixin animation($val){
	-webkit-animation: $val;
	-moz-animation: $val;
	-ms-animation: $val;
	-o-animation: $val;
	animation: $val;
}
@mixin animation_name($val){
	-webkit-animation-name: $val;
	-moz-animation-name: $val;
	-ms-animation-name: $val;
	-o-animation-name: $val;
	animation-name: $val;
}
@mixin animation_delay($val){
	-webkit-animation-delay: $val;
	-moz-animation-delay: $val;
	-ms-animation-delay: $val;
	-o-animation-delay: $val;
	animation-delay: $val;
}
@mixin animation_duration($val){
	-webkit-animation-duration: $val;
	-moz-animation-duration: $val;
	-ms-animation-duration: $val;
	-o-animation-duration: $val;
	animation-duration: $val;
}
@mixin animation_iteration($val){
	-webkit-animation-iteration-count: $val;
	-moz-animation-iteration-count: $val;
	-ms-animation-iteration-count: $val;
	-o-animation-iteration-count: $val;
	animation-iteration-count: $val;
}
@mixin animation_direction($val){
	-webkit-animation-direction: $val;
	-moz-animation-direction: $val;
	-ms-animation-direction: $val;
	-o-animation-direction: $val;
	animation-direction: $val;
}
@mixin animation_time($val){
	-webkit-animation-timing-function: $val;
	-moz-animation-timing-function: $val;
	-ms-animation-timing-function: $val;
	-o-animation-timing-function: $val;
	animation-timing-function: $val;
}
@mixin transform($val){
	-webkit-transform: $val;
	-moz-transform: $val;
	-o-transform: $val;
	-ms-transform: $val;
	transform: $val;
}
@mixin origin($val){
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	-o-transform-origin: $val;
	transform-origin: $val;
}
@mixin scale($val){
	-webkit-transform: scale($val);
	-moz-transform: scale($val);
	-o-transform: scale($val);
	-ms-transform: scale($val);
	transform: scale($val);
}
@mixin translate($val01, $val02){
	-webkit-transform: translate($val01, $val02);
	-moz-transform: translate($val01, $val02);
	-o-transform: translate($val01, $val02);
	-ms-transform: translate($val01, $val02);
	transform: translate($val01, $val02);
}
@mixin rotate($val){
	-webkit-transform: rotate($val);
	-moz-transform: rotate($val);
	-o-transform: rotate($val);
	-ms-transform: rotate($val);
	transform: rotate($val);
}

@mixin object_fit($val){
	-webkit-object-fit: $val;
	-moz-object-fit: $val;
	-ms-object-fit: $val;
	-o-object-fit: $val;
	object-fit: $val;
}
img{
	max-width: 100%;
	vertical-align: middle;
	// @include object_fit(cover);
}

@mixin ibl($val){
	display: inline-block;
	vertical-align: $val;
}
@mixin middle(){
	@include ibl(middle);
}
@mixin top(){
	@include ibl(top);
}
@mixin bottom(){
	@include ibl(bottom);
}

@mixin absolute_($t,$r,$b,$l){
	position: absolute;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
}
@mixin absolute($val){
	@include absolute_($val,$val,$val,$val);
}
@mixin fixed_($t,$r,$b,$l){
	position: fixed;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
}
@mixin fixed($val){
	@include fixed_($val,$val,$val,$val);
}
.relative{position: relative;}
.static{position: static;}
.absolute{position: absolute;}

.text-justify{text-align: justify;}
.clearfix{
	&:before, &:after{
		content: '';
		display: block;
		clear: both;
	}
}

@mixin font($ct){
	font-family: "FontAwesome";
	content: $ct;
}
.row-ibl{
	font-size: 0;
	&>[class^="col-"]{
		font-size: 14px;
		float: none;
		@include ibl(top);
	}
	&:after{
		content: '';
		display: inline-block;
		width: 100%;
	}
	&.mid > [class^="col-"]{vertical-align: middle;}
	&.bot > [class^="col-"]{vertical-align: bottom;}
	&>[class^="col-"]{
		&.i-mid{vertical-align: middle;}
		&.i-top{vertical-align: top;}
		&.i-bot{vertical-align: bottom;}
	}
}


@mixin col_bs($val){
	float: left;
	width: $val;
}

@mixin mar($val){
	margin-left: $val;
	margin-right: $val;
}
@mixin pad($val){
	padding-left: $val;
	padding-right: $val;
}

%col_bs{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@mixin gradient($val){
	background: -webkit-linear-gradient($val);
    background: -o-linear-gradient($val);
    background: -moz-linear-gradient($val);
    background: linear-gradient($val);
}
@mixin gradient2($val){
	background: -webkit-linear-gradient(left top, $val);
 	background: -o-linear-gradient(bottom right, $val);
  	background: -moz-linear-gradient(bottom right, $val);
  	background: linear-gradient(to bottom right, $val);
}
@mixin place($val){
	&::-webkit-input-placeholder {
	   color: $val;
	}
	&:-moz-placeholder {
	   color: $val;  
	}
	&::-moz-placeholder {
	   color: $val;  
	}
	&:-ms-input-placeholder {  
	   color: $val;  
	}
}
@mixin bfhide(){
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
@mixin bfshow(){
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	backface-visibility: visible;
}

@mixin col_width($col_width){
  -ms-flex: 0 0 $col_width;
  flex: 0 0     $col_width;
  max-width:    $col_width;
}

@mixin flex-align-items($align-item){
  -webkit-align-items: $align-item;
  align-items:         $align-item;
}

@mixin flex-justify-content($align-content){
  -webkit-justify-content: $align-content;
  justify-content:         $align-content;
}

%flex-wrap{
	-webkit-flex-wrap: wrap; 
	flex-wrap: wrap;
}
	
%dis-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%col_overflow{
	width: 100%;
	overflow: hidden;
}