/* Footer */
.ftRows01 {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    border-top: 1px solid #acba14;
    padding-top: 60px;
    span.logoFt {
      padding-bottom: 20px;
      display: block;
      img{
        max-width: 185px;
        width: 100%;
      }
    }

    .ftInfo01 {
      ul.ftInfo {
        li {
          display: block;
          font-size: 0;

          span.ftIcon {
            width: 20px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            font-weight: 400;
            color: #3c3c3b;
          }

          span.ftTxt {
            width: calc(100% - 20px);
            display: inline-block;
            vertical-align: top;
            font-weight: 300;
            font-size: 14px;
            color: #3c3c3b;
          }
        }
      }
    }

    .col-sm-8 {
      .col-sm-4 {
        padding-top: 22px;

        h3 {
          font-size: 16px;
          text-transform: uppercase;
          color: #3c3c3b;
          font-weight: 500;
          line-height: 120%;
          padding-bottom: 10px;
        }

        span.FtNav {
          display: block;
          font-size: 14px;
          color: #3c3c3b;
          line-height: 175%;
          border-left: 1px solid #dcdcdc;
          height: 165px;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          a{
            &:hover{
              text-decoration: none;
              color: $color4;
            }
          }
        }
      }
    }
  }
}
.ftRows02{
  background-color: #3c3c3b;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content:center;

  .col-sm-12{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items:center;
    .cpRight{
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 120%;
    }
    .cpSo{
      ul{
        font-size: 0;
        li{
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          color: #ffffff;
          &:not(:last-child){
            padding-right: 12px;
          }
          a{
            display: inline-block;
          }
        }
      }
    }
  }
}

/* End footer */


/* Animate phone */
.anim-phone {
  cursor: pointer;
  height: 52px;
  position: fixed;
  width: 50px;
  z-index: 9999;
  right: 25px;
  bottom: 130px;

  img{
    max-width: 50px;
    width: 100%;
  }
  // .anim-alo-ph-circle {
  //   animation: 1.2s ease-in-out 0s normal none infinite running anim_alo_circle_anim;
  //   border: 2px solid $color4;
  //   border-radius: 100%;
  //   height: 76px;
  //   opacity: 0.1;
  //   position: absolute;
  //   transform-origin: 50% 50% 0;
  //   transition: all 0.5s ease 0s;
  //   width: 76px;
  // }

  // .anim-alo-ph-circle-fill {
  //   animation: 2.3s ease-in-out 0s normal none infinite running anim_alo_circle_fill_anim;
  //   border-radius: 100%;
  //   height: 56px;
  //   left: 10px;
  //   opacity: 0.1;
  //   position: absolute;
  //   top: 10px;
  //   transform-origin: 50% 50% 0;
  //   transition: all 0.5s ease 0s;
  //   width: 56px;
  //   background-color: $color4;
  // }

  // .anim-alo-ph-img-circle {
  //   animation: 1s ease-in-out 0s normal none infinite running anim_alo_circle_img_anim;
  //   border-radius: 100%;
  //   height: 38px;
  //   left: 19px;
  //   position: absolute;
  //   top: 19px;
  //   transform-origin: 50% 50% 0;
  //   width: 38px;
  //   background-color: $color4;

  //   a {
  //     color: $color2;
  //     font-size: 16px;
  //     display: block;
  //     text-align: center;
  //     width: 38px;
  //     height: 38px;
  //     line-height: 38px;
  //   }
  // }
}

/* Page top */
.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 75px;
  z-index: 9999;
  @include transition(0.3s);
  display: none;

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: $color2;
    background: #3c3c3b;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      width: 52px;
      height: 52px;
      background: rgba(#3c3c3b, 0.5);
      border-radius: 50%;
      z-index: -1;
      top: -6px;
      left: -6px;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

/* End page top */

@keyframes anim_alo_circle_anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg);
  }

  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }

  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes anim_alo_circle_img_anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 767px) {
  .ftRows01{
    .col-sm-4.ftInfo01{
      flex: 100%;
      max-width: 400px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .col-sm-8{
      max-width: 100%;
      flex: 100%;
    }
  }

  .anim-phone {
    right: 5px;
  }

  .back_to_top {
    right: 10px;
    // bottom: 18px;
  }
  .ftRows02 .col-sm-12{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .ftRows02 .col-sm-12 .cpRight{
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  .ftRows01 .container .col-sm-8 .col-sm-4 span.FtNav{
    height: auto;
  }
  span.btnReadMore{
    padding-top: 20px;
  }
}