/* Row menu */
.wrapHeader{
	// padding-top: 25px;
	// padding-bottom: 25px;
	.container{
		position: relative;
	}
	.row{
		align-items: flex-start;
	}
	@include smooth(0.3s);
	// background: $color2;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	&.fixed{
		background-color: #fff;
		.logo{
			height: 65px;
			padding-bottom: 0;
			align-items: center;
			// justify-content: flex-start;
			// padding-left: 65px;
			.imgNoSc{
				display: none;
			}
			.imgSc{
				display: inline-block;
			}
		}
		.main-nav > ul > li > a{
			padding: 20px 0;
			color: #000;
		}
		.lang li a{
			color: #000;
		}
		.lang li select{
			color: #000;
		}
	}
}
.row-nav{
	@include smooth(0.3s);
	// background: $color2;
	width: 100%;
	text-align: right;
	&.fixed{
		position: fixed;
		top: 0;
		z-index: 99;
	}
}
.socail{
	display: inline-block;
	vertical-align: middle;
	li{
		display: inline-block;
		vertical-align: middle;
		padding-left: 3px;
		padding-right: 3px;

		a{
			font-size: 16px;
			font-weight: normal;
			color: $color1;
			line-height: 100%;
		}
	}
}
.lang{
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	li{
		display: inline-block;
		vertical-align: middle;
		a{
			font-size: 16px;
			color: $color2;
			font-weight: 400;
			display: block;
			padding-left: 5px;
			padding-right: 5px;
			line-height: 100%;
		}
		select{
			font-size: 16px;
			color: $color2;
			font-weight: 400;
			text-transform: uppercase;
			background-color: transparent;
			border: 0;
			option{
				background-color: transparent;
				border: 0;
				color: $color1;
			}
		}
	}
}
.main-nav {
	display: inline-block;
	vertical-align: middle;
	> ul{
		font-size: 0;
		> li{
			display: inline-block;
			vertical-align: middle;
			padding-right: 30px;
			> a{
				display: block;
				text-transform: uppercase;
				color: $color2;
				padding: 25px 0;
				font-weight: 300;
				font-size: 14px;
				position: relative;

				&::before{
					width: 100%;
					height: 2px;
					content: '';
					position: absolute;
					bottom: 42px;
					border-bottom: 2px $color4 solid;
					display: none;
				}
				
				&:hover{
					color: $colorMenu;
					// font-weight: 600;
				}
			}
			&:last-child{
				> a{
					padding-right: 0;
				}
				padding-right: 20px;
			}
		}
		li.active{
			a{
				color: $colorMenu;
				// font-weight: 600;
			}
		}
	}
	li{
		.sub-menu{
			width: 100%;
			// -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
			// box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
			background: rgba($color1, .88);
			position: absolute;
			min-width: $w_container;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			z-index: 98;
			// margin-top: 20px;
			pointer-events: none;
			opacity: 0;
			text-align: left;
			padding: 20px 30px;
			@extend %dis-flex;
			left: 33.2%;
			transform: translateX(-50%);
			// opacity: 1;

			ul{
				width: 100%;
				li{
					float: left;
					width: 100%;

					&:last-child{
						a{
							border-bottom: 0;
						}
					}
					
					&:hover{
						.navOpen{
							opacity: 1;
							pointer-events: all;
							opacity: 1;
						}
						a{
							color: $color4;
							&::before{
								display: block;
							}
						}
					}

					a{
						float: left;
						width: 25%;
						color: $color2;
						font-size: 18px;
						border-bottom: 1px solid $color16;
						padding-top: 15px;
						padding-bottom: 15px;
						position: relative;

						&::before{
							content: "\f105";
							font-family: FontAwesome;
							font-style: normal;
							font-weight: bold;
							color: $color4;
							font-size: 18px;
							position: absolute;
							top: 15px;
							right: 15px;
							display: none;
						}
					}
					.navOpen{
						width: 75%;
						float: left;
						position: absolute;
						right: 0px;
						top: 0;
						color: #000;
						padding: 20px 20px 20px 70px;
						opacity: 0;
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						pointer-events: none;

						.row{
							align-items: center;
							.col-sm-4{
								text-align: center;
							}

							h3{
								font-size: 18px;
								color: $color2;
								font-weight: bold;
								line-height: 160%;
								padding-bottom: 15px;
							}
							span.navTxt{
								display: block;
								color: $color2;
								font-size: 14px;
								line-height: 160%;
								max-width: 370px;
								width: 100%;
							}
							span.btnStyle01{
								background-color: $color4;
								border-color: $color4;
								margin-top: 15px;
								a{
									width: 150px;
									border-bottom: 0;
									font-size: 14px;
									height: 35px;
									color: $color2;
									&::before{
										display: none;
									}
								}
								&:hover{
									background-color: transparent !important;
									border-color: $color2;
								}
							}
						}
					}
				}
				.active{
					.navOpen{
						opacity: 1;
						opacity: 1;
					}
					a{
						color: $color4;
						&::before{
							display: block;
						}
					}
				}

			}
		}
		// ul{
		// 	padding-right: 42px;
		// 	&:last-child{
		// 		padding-right: 0;
		// 	}
		// 	.title-menu{
		// 		font-weight: 500;
		// 		font-size: 14px;
		// 		color: $color7;
		// 		margin-bottom: 10px;
		// 		display: block;
		// 		&:hover{
		// 			color: $color5;
		// 		}
		// 	}
		// 	li{
		// 		a{
		// 			display: block;
		// 			color: $color3;
		// 			font-size: 13px;
		// 			padding: 2px 0;
		// 			padding-right: 6px;
		// 			&:hover{
		// 				color: $color5;
		// 				padding-left: 6px;
		// 				padding-right: 0;
		// 			}
		// 		}
		// 	}
			
		// }
		&:hover{
			> .sub-menu{
				margin-top: 0;
				pointer-events: all;
				opacity: 1;
			}
		}
	}
}


@media all and (max-width: 1199px) {
	// .row-nav{
	// 	display: none;
	// }
	.wrapHeader{
		.form-search{
			display: none;
		}
		background: white;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		right: 0;
		bottom: unset;
		left: 0;
		z-index: 9999999999;
		.row{
			height: 70px;
		}
		.socail{
			// float: right;
			// padding-right: 45px;
			display: none;
		}
		.lang{
			display: none;
			// float: right;
			// padding-right: 15px;
		}
		.logo.col-sm-3{
			flex: 100%;
			max-width: 100%;
			padding-top: 8px;
		}
	}
	.main-nav li .sub-menu ul li .navOpen{
		display: none;
	}
	.menu-btn {
		display: inline-block;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		position: absolute;
		z-index: 99;
		background: rgba($color4, 1);
		cursor: pointer;
		i {
			display: block;
			margin: auto;
			border-top: solid 2px $color2;
			width: 17px;
			border-bottom: double 7px $color2;
			height: 12px;
		}
		&.act{
			i {
				width: auto;
				height: auto;
				border: none;
				&:after, &:before{
					content: '';
					display: block;
					margin: auto;
					width: 17px;
					border-bottom: solid 2px $color1;
				}
				&:after{
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					margin-top: -2px;
				}
				&:before {
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}

	.main-nav {
		display: none;
	}

	.m-nav {
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		background: #f9f9f9;
		-webkit-box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5);
		box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.5);
		position: fixed;
		z-index: 99999999999999999;
		top: 0;
		bottom: 0;
		width: 290px;
		right: -300px;
		&.act {
			right: 0;
		}
		.nav-ct {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding-top: 55px;
			position: relative;
		}
		.nav-close {
			top: 7px;
			right: 10px;
			background: none;
			outline: none;
			z-index: 99;
		}
		.main-nav {
			display: block;
			margin: 0;
			padding: 0;
			> ul{
				> li {
					display: block;
					margin: 0;
					padding: 0;
					position: relative;
					&:last-child{
						display: none;
					}
					> a {
						display: block;
						font-weight: normal;
						border: none;
						border-top: solid 1px #e6e6e6;
						height: 45px;
						line-height: 45px;
						color: #333;
						margin: 0px;
						width: 100% !important;
						padding: 0 15px;
						&:not(:only-child){
							&:after, &:before{
								content: none;
								display: none;
							}
						}
						&:before, &:after{
							content: none;
							display: none;
						}
					}
					&:hover, &.active{
						> a{
							color: $color5;
							background: rgba($color1, 0.05);
						}
					}
				}
			}
			li {
				position: relative;
				.sub-menu{
					display: none;
					width: auto;
					position: static;
					background: rgba(0, 0, 0, 0.03);
					border: none;
					margin: 0px;
					opacity: 1;
					left: auto;
					transform: none;
					-webkit-transition: none;
					transition: none;
					pointer-events: all;
					padding: 0;
					min-width: auto;
					box-shadow: none;
					padding: 15px;
					&:after {
						content: none;
						display: none;
					}
					.title-menu{
						margin-top: 10px;
					}
					li{
						a {
							display: block;
							font-size: 13px;
							line-height: 20px;
							background: none;
							color: $color3;
							border: none;
							width: 100%;
							border-top: solid 1px #e6e6e6;
							padding: 10px;
							margin: 0px;
							font-weight: normal;
						}
						&:hover{
							> a{
								color: $color5;
								background: rgba($color1, 0.05);
							}
						}
					}
				}
				ul {
					padding-right: 0;
				}
				.nav-drop {
					display: block;
					font-style: normal;
					height: 45px;
					width: 45px;
					text-align: center;
					font-size: 16px;
					line-height: 45px;
					background: rgba(0, 0, 0, 0.03);
					color: $color1;
					float: right;
					position: relative;
					z-index: 1;
					cursor: pointer;
					&:after {
						font-family: "FontAwesome";
						content: "\f0d7";
					}
					&.act{
						&:after {
							content: "\f0d8";
						}
					}
				}
				&:hover{
					> .nav-drop {
						color: $color5;
					}
					> ul {
						margin-top: 0;
						pointer-events: all;
						opacity: 1;
					}
				}
			}
		}
	}

	header{
		.nav-open, .sb-open {
			position: fixed;
			top: 14px;
			outline: none;
		}
		.nav-open {
			right: 10px;
		}
		.sb-open {
			left: 10px;
		}
	}

	.main-option {
		display: block;
		position: absolute;
		top: 20px;
		left: 15px;
		margin-left: 0;
		padding-left: 0;
		li{
			&:first-child{
				display: none;
			}
		}
	}
	.logo{
		height: auto;
		padding-bottom: 0;
		img{
			max-width: 90%;
		}
	}
	#qtranslate-2{
		display: none;
	  }
	  #qtranslate-3 h3{
		display: none;
	  }
	  #qtranxs_select_qtranslate-3-chooser{
		padding: 0 0 0 8px;
		font-size: 18px;
		border: 0;
		background-color: transparent;
		margin-bottom: 20px;
	  }
}
@media all and (max-width: 420px) {
	.wrapHeader .logo.col-sm-3 img{
		max-width: 200px;
		width: 100%;
	}
}