
/*
===============
=   Slide     =
===============
*/
#slide{
  position: relative;
  #product__slider{
    position: relative;
    .product__slider-main{
      position: relative;
      &::before{
        content: '';
        background-image: url(images/sl-img00.png);
        background-position: top center;
        background-repeat: repeat-x;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }
      .slide{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 700px;
        position: relative;
        .txtOnSlide{
          text-align: center;
          font-size: 70px;
          font-weight: 400;
          color: $color2;
          text-transform: uppercase;
          position: absolute;
          top: 42%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          z-index: 9999;
        }
      }
    }
    .product__slider-thmb{
        border-top: 1px solid $color2;
        max-width: $w_container;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 999;

      .slide.slick-slide{
        transition: all .3s ease;
        width: 25%;
        height: 175px;
        cursor: pointer;
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 25px;
        padding-bottom: 10px;

        h3{
          text-align: center;
          color: $color2;
          font-size: 20px;
          line-height: 140%;
          padding-bottom: 8px;
          font-weight: 500;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
        span.slTxt{
          display: block;
          font-size: 14px;
          color: $color2;
          line-height: 160%;
          font-weight: 300;
        }


        &:hover{
          background-color: rgba($color: #605845, $alpha: .39);
          &::before{
            content: '';
            width: 100%;
            height: 4px;
            background-color: $color2;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
          }
        }

      }
      .slide.slick-slide.slick-active{
        // background-color: rgba($color: #605845, $alpha: .39);
        h3{
          font-weight: 400;
        }
        &::before{
          content: '';
          width: 100%;
          height: 4px;
          background-color: $color2;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
  }
}



// .product__slider-thmb .slick-slide.slick-active, .product__slider-thmb .slick-slide:hover {
// 	opacity: 1;
// }
.product__slider-main, .product__slider-thmb {
    display: none;
}


@media screen and (max-width: 1199px){
  #slide{
    margin-top: 68px;

    #product__slider{
      .product__slider-main{
        height: 400px;
        .slide{
          height: 400px;
          .txtOnSlide{
            font-size: 5.004vw;
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 960px){
  #slide #product__slider .product__slider-thmb .slide.slick-slide span.slTxt{
    display: none;
  }
  #slide{
    margin-top: 68px;
    #product__slider{

      .product__slider-thmb{
        .slide.slick-slide{
          height: 80px;
          padding-top: 0;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;

          h3{
            font-size: 13px;
            font-weight: bold !important;
            padding-bottom: 0;
            text-align: center;
          }
        }
      }
    }
    
  }
}
@media screen and (max-width: 767px){
  
}
@media screen and (max-width: 640px){
  #slide #product__slider .product__slider-main .slide .txtOnSlide{
    font-size: 28px;
  }
}