/*
=================
=   GIOI THIEU  =
=================
*/
#gioiThieu {
  background-color: #f7f7f6;
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    text-align: center;
    color: #acba14;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 140%;
  }

  span.gtImg {
    display: block;
    text-align: center;
    padding-top: 30px;
  }

  h3 {
    font-size: 28px;
    color: $clTxt;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 120%;
    text-align: center;
    padding-top: 40px;
  }

  .gtInfo {
    font-size: 16px;
    font-weight: 300;
    color: $clTxt;
    line-height: 120%;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 687px;
    margin: 0 auto;
  }

}

span.btnReadMore {
  display: block;
  text-align: center;

  a {
    font-size: 18px;
    color: $colorMenu;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 8px;

    &::before {
      content: '';
      background-color: #3c3c3b;
      width: 36px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      transition: ease all 0.35s;
    }

    &:hover {
      &::before {
        width: 60%;
      }
    }
  }
}

span.btnStyle01 {
  display: inline-block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: $color1;
  border: 1px solid $color1;
  transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  -moz-transition: ease all 0.35s;
  -ms-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;

  &:hover {
    background-color: $color2 !important;

    a {
      color: $color1;
    }
  }

  a {
    color: $color2;
    width: 170px;
    font-size: 18px;
    text-transform: uppercase;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      padding-left: 8px;
    }
  }
}

@media screen and (max-width: 767px) {
  #gioiThieu {
    padding-top: 60px;
    padding-bottom: 60px;


    h2 {
      font-size: 24px;
    }

    .gtInfo {
      font-size: 14px;
      padding-bottom: 20px;
    }

    h3 {
      font-size: 20px;
    }
  }

  span.btnStyle01 a {
    font-size: 15px;
  }


}

/*
=================
=   KHACH HANG  =
=================
*/
#khachHang {
  text-align: center;
  background-image: url(images/gt-img01.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: $color2;
    line-height: 140%;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
  }

  span.khIntro {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    line-height: 160%;
    padding-top: 30px;
    max-width: 687px;
    margin: 0 auto;
    text-align: justify;
  }

  span.btnReadMore {
    padding-top: 15px;

    a {
      &::before {
        background-color: #acba14;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #khachHang {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    span.khIntro {
      font-size: 14px;
    }
  }
}

/*
===============
=   Kỹ Thuật  =
===============
*/
#kyThuat {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    font-size: 30px;
    font-weight: 400;
    color: #3c3c3b;
    line-height: 140%;
    text-transform: uppercase;
  }

  span.ktTxt {
    font-size: 14px;
    color: #3c3c3b;
  }
  span.btnReadMore{
    text-align: left;
    padding-top: 30px;
    a{
      &:before{
        left: 0;
        transform: none !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .ktRows {
    .ktRight {
      .ktMax530 {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ktRows {
    .ktLeft {
      width: 100%;
      text-align: center;

      .ktMax588 {
        width: 100%;
        max-width: 100%;
      }
    }

    .ktRight {
      width: 100%;
      text-align: center;

      .ktMax530 {
        max-width: 100%;

        span.ktRTxt {
          font-size: 14px;
        }
      }
    }
  }
}


#sanPham {
  background-color: rgba($color: #f7f7f6, $alpha: .73);
  padding-top: 60px;
  padding-bottom: 60px;

  .col-sm-3 {
    h2 {
      font-size: 30px;
      font-weight: 400;
      color: #3c3c3b;
      text-transform: uppercase;
      line-height: 120%;
    }

    span.spTxt {
      display: block;
      font-size: 16px;
      color: #3c3c3b;
      line-height: 140%;
      font-weight: 300;
      padding-top: 10px;
    }

    span.btnReadMore {
      text-align: left;
      padding-top: 20px;

      a {
        &::before {
          left: 0;
          transform: none;
        }
      }
    }
  }

  .spSlick {
    .slick-track {
      margin-left: -10px;
      margin-right: -10px;
    }

    .spItem {
      margin-left: 10px;
      margin-right: 10px;

      // padding-right: 20px;
      .spImg {
        display: block;
        height: 300px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      h3 {
        font-size: 18px;
        color: #acba14;
        line-height: 140%;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 20px;
      }

      span.spITxt {
        display: block;
        font-size: 15px;
        font-weight: 300;
        color: #3c3c3b;
        line-height: 120%;
        padding-top: 2px;
      }

    }

    .custom_paging {
      border-bottom: 1px solid rgba($color: #000000, $alpha: .25);
      max-width: 710px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      padding-top: 20px;

      li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-indent: -99999px;
        // font-size: 0;
        // border-bottom: 4px solid #000;
        // min-width: 128px;
        width: 50%;
      }

      li.slick-active {
        border-bottom: 2px solid rgba($color: #000000, $alpha: .3);
      }

    }
  }

  span.countItem {
    position: absolute;
    bottom: -8px;
    left: 20px;
    font-size: 14px;
    z-index: 1;
  }

  .slick-counter {
    font-size: 14px;
    font-weight: 300;
    color: #757575;
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  .slick-arrow {
    position: absolute;
    bottom: -5px;
    right: 20px;
    font-size: 24px;
    color: rgba(60, 60, 59, 0.6);
    font-weight: 400;
  }

  .fa-angle-left {
    right: 45px;
  }
}

@media screen and (max-width: 1199px) {

  #sanPham .slick-counter,
  #sanPham .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  #sanPham {
    padding-top: 60px;
    padding-bottom: 60px;

    .col-sm-3 {
      flex: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    .col-sm-9 {
      flex: 100%;
      max-width: 100%;
    }


  }

  #sanPham .spSlick .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  #sanPham .spSlick .spItem {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


#duAn {
  background-color: $color2;
  padding-top: 70px;
  padding-bottom: 70px;

  .grid-1107 {
    max-width: 1107px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    span.daTT00 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      color: #acba14;
      font-size: 36px;
      line-height: 140%;
      display: block;
    }

    .duSlick {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 35px;

      .duItem {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 370px;
        position: relative;
        z-index: 1;
        margin-left: 15px;
        margin-right: 15px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          display: inline-block;
          position: relative;
          z-index: 2;
          padding-bottom: 8px;
          opacity: 0;

          &:before {
            content: '';
            width: 35px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        }

        a {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          z-index: 1;
          background-image: url(images/da-img00.png);
          background-size: cover;
          background-position: bottom center;
          background-repeat: no-repeat;
          transition: ease all 0.35s;
          opacity: 0;
        }

        &:hover {
          a {
            opacity: 1;
          }

          span {
            opacity: 1;
          }
        }
      }

      .slick-dots {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgba(60, 60, 59, 0.25);
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        margin-top: 70px;

        li {
          width: 50%;
          border-radius: 0;
          border: 0;
          margin: 0;
          height: auto;
        }

        li.slick-active {
          background-color: rgba($color: #3c3c3b, $alpha: .30);
          height: 4px;

          &:before {
            display: none;
          }
        }
      }

      .slick-arrow {
        position: absolute;
        right: 15px;
        bottom: -2px;
        z-index: 1;
        font-size: 24px;
        color: rgba(60, 60, 59, 0.6);
        font-weight: 400;
      }

      .fa-angle-left {
        right: 40px;
      }

      .slickDa-counter {
        position: absolute;
        left: 18px;
        bottom: -7px;
        z-index: 2;
        font-size: 14px;
        font-weight: 400;
        color: #757575;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #duAn .grid-1107 .duSlick .slickDa-counter {
    display: none;
  }

  #duAn .grid-1107 .duSlick .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 767px) {
  #duAn .grid-1107 .duSlick {
    margin-left: 0;
    margin-right: 0;
  }

  #duAn .grid-1107 .duSlick .duItem {
    margin-left: 0;
    margin-right: 0;
  }

  #duAn .grid-1107 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 480px) {}


#doiTac {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba($color: #3c3c3b, $alpha: .03);

  .grid-1107 {
    max-width: 1107px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  span.dtTt00 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: #acba14;
    font-weight: 400;
    display: block;
  }

  .dtSlick {}

  .dtItem {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .slick-dots {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(60, 60, 59, 0.25);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    margin-top: 20px;

    li {
      width: 50%;
      border-radius: 0;
      border: 0;
      margin: 0;
      height: auto;
      background-color: transparent;
    }

    li.slick-active {
      background-color: rgba($color: #3c3c3b, $alpha: .30);
      height: 4px;

      &:before {
        display: none;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    right: 15px;
    bottom: -2px;
    z-index: 1;
    font-size: 24px;
    color: rgba(60, 60, 59, 0.6);
    font-weight: 400;
  }

  .fa-angle-left {
    right: 40px;
  }

  .slickDt-counter {
    position: absolute;
    left: 18px;
    bottom: -7px;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
  }
}

@media screen and (max-width: 1199px) {
  #doiTac .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  #doiTac h2 {
    line-height: 140%;
  }

  #doiTac .grid-1107 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cpSo {
    width: 100%;
    overflow: hidden;
  }

  .ftRows02 .col-sm-12 .cpSo ul {
    text-align: center;
  }
}

.ow {
  overflow: hidden;
  width: 100%;
}

/*
==============
= Giới thiệu =
==============
*/
.comPage {
  .bannerPage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 395px;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      background-image: url(images/ab-img02.png);
      background-position: top center;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }

  .breadKum {
    background-color: rgba($color: #f6f5f3, $alpha: .85);
    height: 58px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ul {
      font-size: 0;

      li {
        display: inline-block;
        padding-right: 18px;
        position: relative;

        &:before {
          content: "\f105";
          font-family: FontAwesome;
          position: absolute;
          right: 0;
          top: 45%;
          transform: translateY(-50%);
          z-index: 2;
          font-size: 14px;
        }

        &:not(:first-child) {
          padding-left: 15px;
        }

        a {
          font-size: 14px;
          font-weight: 400;
          color: #3c3c3b;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      li.active {
        &:before {
          display: none;
        }

        a {
          color: #acba14;
        }
      }
    }
  }
}

.grid-1175 {
  max-width: 1175px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#gioiThieuPage {
  padding-top: 70px;

  .gtRows01 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .gt01Left {
      width: 54.988%;
      margin-right: 8.416%;

      .gt365 {
        max-width: 365px;
        width: 100%;
        float: right;
        padding-top: 60px;

        span {
          display: block;
          font-size: 18px;
          color: #3c3c3b;
          font-weight: 300;
          line-height: 125%;
        }

      }

      h3 {
        padding-top: 35px;
        font-size: 18px;
        font-weight: 400;
        color: #acba14;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        padding-bottom: 8px;

        &:before {
          content: '';
          background-color: #3c3c3b;
          width: 36px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }

      h3.ttSp {
        display: none;
      }
    }

    .gt01Right {
      width: 36.596%;

      h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        color: #3c3c3b;
        line-height: 120%;
        position: relative;
        z-index: 1;
        padding-bottom: 8px;

        &:before {
          content: '';
          background-color: #3c3c3b;
          width: 40px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
        }
      }

      span.txt {
        display: block;
        font-size: 18px;
        font-weight: 300;
        color: #3c3c3b;
        line-height: 122%;
        padding-top: 35px;
      }

      span.img {
        display: block;
        padding-top: 40px;

      }
    }
  }

  .gtRows02 {
    position: relative;
    z-index: 1;
    padding-left: 140px;
    padding-top: 85px;
    margin-top: 80px;

    &:before {
      content: '';
      background-color: rgba($color: #3c3c3b, $alpha: .13);
      max-width: 1000px;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    span.img {
      display: block;
      padding-bottom: 60px;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-transform: uppercase;
      color: #3c3c3b;
      line-height: 120%;
      position: relative;
      text-align: right;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      z-index: 2;
      padding-top: 58px;

      &:before {
        content: '';
        width: 1px;
        height: 38px;
        background-color: #3c3c3b;
        position: absolute;
        left: 16px;
        top: 0;
        z-index: 3;
      }
    }

    .gt02R {
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: stretch;

      .gt02Right {
        width: 92.754%;

        span.infoMax {
          display: block;
          max-width: 600px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          font-size: 18px;
          color: #3c3c3b;
          line-height: 130%;
          font-weight: 300;
        }

        span.infoMax800 {
          display: block;
          max-width: 800px;
          width: 100%;
          font-size: 18px;
          color: #3c3c3b;
          line-height: 130%;
          font-weight: 400;
          padding-left: 18px;
          border-left: 1px solid rgba($color: #3c3c3b, $alpha: .33);
          margin-top: 18px;
          margin-bottom: 18px;
        }
      }

      .gt02Left {
        width: calc(100% - 92.754%);
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  #gioiThieuPage {
    .gtRows02 {
      padding-left: 3.404vw;

      &:before {
        max-width: 90%;
        height: 50%;
      }
    }
  }

  .grid-1175 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  #gioiThieuPage .gtRows01 .gt01Left {
    width: 100%;
    margin-right: 0;
    order: 1;
    margin-top: 30px;
  }

  #gioiThieuPage .gtRows01 .gt01Right {
    width: 100%;
    order: 0;
  }

  #gioiThieuPage .gtRows01 .gt01Right span.txt {
    font-size: 14px;
    padding-top: 20px;
  }

  #gioiThieuPage .gtRows01 .gt01Right span.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #gioiThieuPage .gtRows01 .gt01Left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #gioiThieuPage .gtRows01 .gt01Left .gt365 {
    max-width: 100%;
    padding-top: 30px;
  }

  #gioiThieuPage .gtRows01 .gt01Left .gt365 span {
    font-size: 14px;
  }

  #gioiThieuPage .gtRows01 .gt01Left h3.ttSp {
    display: block;
    margin-bottom: 20px;
  }

  #gioiThieuPage .gtRows01 .gt01Left h3 {
    display: none;
  }

  #gioiThieuPage .gtRows02 span.img {
    padding-bottom: 30px;
  }

  #gioiThieuPage .gtRows02 {
    margin-top: 60px;
    padding-top: 40px;
  }

  #gioiThieuPage .gtRows02 .gt02R .gt02Right span.infoMax {
    font-size: 14px;
  }

  #gioiThieuPage .gtRows02 .gt02R .gt02Right span.infoMax800 {
    font-size: 15px;
  }

  #gioiThieuPage {
    padding-top: 60px;
  }

  #gioiThieuPage .gtRows02 h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #gioiThieuPage .gtRows02 h2 {
    font-size: 14px;
  }

  #gioiThieuPage .gtRows02:before {
    height: 28%;
  }

  #gioiThieuPage .gtRows02 {
    padding-top: 30px;
  }
}

/*
===============
=     Dự án   =
===============
*/
#duAnPage {
  padding-top: 60px;

  ul.daNav {
    font-size: 0;
    text-align: center;

    li {
      display: inline-block;
      padding-right: 10px;
      padding-bottom: 30px;

      &:nth-child(4n) {
        padding-right: 0;
      }

      a {
        font-size: 20px;
        font-weight: 400;
        color: #3c3c3b;
        text-transform: uppercase;
        min-width: 286px;
        height: 43px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        transition: ease all 0.35s;

        &:hover {
          background-color: #acba14;
          color: #fff;
        }
      }
    }

    li.active {
      a {
        background-color: #acba14;
        color: #fff;
      }
    }
  }

  .daRows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 30px;

    &:nth-child(2n) {
      .daLeft {
        margin-right: 0;
        margin-left: 2.979%;
        order: 1;
      }

      .daRight {
        order: 0;
      }
    }

    .daLeft {
      width: 65.617%;
      margin-right: 2.979%;
      background-color: #f3f3f3;
      position: relative;

      a {
        position: absolute;
        display: block;
        z-index: 4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      span.daImg {
        height: 367px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: '';
          background-image: url(images/da-img04.png);
          background-position: bottom center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: ease all 0.35s;
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
        }


        span.daTxt {
          position: relative;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 400;
          color: #fff;
          z-index: 3;
          padding-bottom: 8px;
          opacity: 0;
          transition: ease all 0.35s;

          &:before {
            content: '';
            width: 33px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        }
      }

      .daInfoTxt {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 30px;

        h3 {
          font-size: 24px;
          color: #3c3c3b;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 120%;
          padding-bottom: 8px;
          transition: ease all 0.35s;
        }

        span {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
        }
      }

      &:hover {
        span.daImg {
          &:before {
            opacity: 1;
          }

          span.daTxt {
            opacity: 1;
          }
        }

        .daInfoTxt {
          h3 {
            color: #acba14;
          }
        }
      }
    }

    .daRight {
      width: 31.404%;
      background-color: #f3f3f3;
      position: relative;

      a {
        position: absolute;
        display: block;
        z-index: 4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      span.daImg {
        height: 367px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: '';
          background-image: url(images/da-img04.png);
          background-position: bottom center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: ease all 0.35s;
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
        }

        span.daTxt {
          position: relative;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 400;
          color: #fff;
          z-index: 3;
          padding-bottom: 8px;
          opacity: 0;
          transition: ease all 0.35s;

          &:before {
            content: '';
            width: 33px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        }
      }

      .daInfoTxt {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 30px;

        h3 {
          font-size: 24px;
          color: #3c3c3b;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 120%;
          padding-bottom: 8px;
          transition: ease all 0.35s;
        }

        span {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
        }
      }

      &:hover {
        span.daImg {
          &:before {
            opacity: 1;
          }

          span.daTxt {
            opacity: 1;
          }
        }

        .daInfoTxt {
          h3 {
            color: #acba14;
          }
        }
      }
    }
  }
}

#duAnChiTiet {
  .daCT01 {
    padding-top: 60px;

    h2 {
      text-transform: uppercase;
      font-weight: 400;
      color: #575757;
      line-height: 120%;
      text-align: center;
      font-size: 30px;
    }

    .daCtSlide {
      overflow: hidden;
      width: 100%;
      position: relative;
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .slickDa-counter {
      font-size: 14px;
      font-weight: 300;
      color: #757575;
      position: absolute;
      bottom: -8px;
      left: 10px;
    }

    .slick-arrow {
      position: absolute;
      right: 10px;
      bottom: -4px;
      z-index: 1;
      font-size: 24px;
      color: rgba(60, 60, 59, 0.6);
      font-weight: 400;
    }

    .fa-angle-left {
      right: 33px;
    }

    #slider01 {
      .slide-item {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    #thumbnail_slider01 {
      margin-left: -10px;
      margin-right: -10px;
      margin-top: 60px;

      .thumbnail-item {
        margin-left: 10px;
        margin-right: 10px;

        img {
          width: 100%;
          height: 177px;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    .slick-dots {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      max-width: 85%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      padding-top: 50px;

      li {
        width: 50%;
        border-radius: 0;
        border: 0;
        margin: 0;
        height: auto;
      }

      .slick-active {
        background-color: rgba(60, 60, 59, 0.3);
        height: 4px;

        &:before {
          display: none;
        }
      }
    }

    .daCtInfo {
      font-size: 18px;
      font-weight: 300;
      color: #757575;
      line-height: 140%;
      text-align: justify;
      max-width: 687px;
      margin: 0 auto;
      width: 100%;
    }
  }

  .daCT02 {
    background-color: rgba($color: #3c3c3b, $alpha: .04);
    margin-top: 45px;
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;
      color: #acba14;
      line-height: 120%;
      position: relative;
      z-index: 1;
      padding-bottom: 15px;

      &:before {
        content: '';
        background-color: #3c3c3b;
        width: 40px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }

    .daCt02Slide {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      overflow: hidden;
      width: 100%;
      margin-top: 45px;

      .slick-track {
        margin-left: -6px;
        margin-right: -6px;

      }

      .slick-dots {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        max-width: 85%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        padding-top: 50px;

        li {
          width: 50%;
          border-radius: 0;
          border: 0;
          margin: 0;
          height: auto;
          background-color: transparent;
        }

        .slick-active {
          background-color: rgba(60, 60, 59, 0.3);
          height: 4px;

          &:before {
            display: none;
          }
        }
      }

      .slickDa-counter {
        font-size: 14px;
        font-weight: 300;
        color: #757575;
        position: absolute;
        bottom: -6px;
        left: 0;
      }

      .slick-arrow {
        position: absolute;
        right: 10px;
        bottom: -4px;
        z-index: 1;
        font-size: 24px;
        color: rgba(60, 60, 59, 0.6);
        font-weight: 400;
      }

      .fa-angle-left {
        right: 33px;
      }

      .da02Item {
        background-color: #fff;
        margin-left: 6px;
        margin-right: 6px;

        img {
          height: 185px;
          width: 100%;
          object-fit: cover;
        }

        h3 {
          a {
            font-size: 18px;
            color: #3c3c3b;
            line-height: 122%;
            font-weight: 400;
            text-transform: uppercase;

            &:hover {
              text-decoration: none;
              color: #64a739;
            }
          }

          position: relative;
          z-index: 1;
          padding-bottom: 5px;
          margin-bottom: 20px;

          &:before {
            content: '';
            width: 30px;
            height: 1px;
            background-color: #3c3c3b;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
          }
        }

        span.txt {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
        }

        .da02Txt {
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 22px;
          padding-bottom: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

  #duAnChiTiet .daCT01 .slick-arrow,
  #duAnChiTiet .daCT02 .daCt02Slide .slick-arrow {
    display: none !important;
  }

  #duAnChiTiet .daCT01 .slickDa-counter {
    display: none;
  }

  #duAnPage ul.daNav li {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  #duAnPage ul.daNav li a {
    width: 260px;
    min-width: 100%;
    font-size: 18px;
  }

  #duAnPage .daRows .daLeft {
    width: 100%;
    margin-right: 0;
    margin-left: 0 !important;
    order: 0 !important;
  }

  #duAnPage .daRows .daRight {
    width: 100%;
    order: 1 !important;
  }

  .comPage .breadKum ul li:not(:first-child) {
    padding-left: 4px;
  }

  .comPage .breadKum ul li {
    padding-right: 8px;
  }

  #duAnChiTiet .daCT01 .daCtInfo {
    font-size: 14px;
  }

  #duAnChiTiet .daCT01 #slider01 .slide-item img {
    height: 65.189vw;
  }

  #duAnChiTiet .daCT01 #thumbnail_slider01 .thumbnail-item img {
    height: 15.645vw;
  }

  #duAnChiTiet .daCT01 #thumbnail_slider01 {
    margin-top: 20px;
    margin-left: -1.304vw;
    margin-right: -1.304vw;
  }

  #duAnChiTiet .daCT01 .slick-dots {
    padding-top: 6.519vw;
  }

  #duAnChiTiet .daCT01 #thumbnail_slider01 .thumbnail-item {
    margin-left: 1.304vw;
    margin-right: 1.304vw;
  }

  #duAnChiTiet .daCT01 .daCtSlide {
    padding-top: 6.519vw;
    padding-bottom: 6.519vw;
  }

  #duAnChiTiet .daCT02 .daCt02Slide .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  #duAnChiTiet .daCT02 .daCt02Slide .da02Item {
    margin-left: 0;
    margin-right: 0;
  }

  .comPage .bannerPage {
    height: 250px;
  }
}

/*
===================
=   Hoạt động     =
===================
*/
#hoatDongPage {
  padding-top: 70px;

  // padding-bottom: 70px;
  .hdRows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .hdLeft {
      width: 49.447%;
      margin-right: 1.1915%;
      height: 100%;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;
      height: 395px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &:hover{
       .hdInfo{
        h3 {
          a{
            color: $color4;
          }
        }
       } 
      }
      &:before {
        content: '';
        background-image: url(images/hd-img04.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      .hdInfo {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 3;

        h3 {
          a {
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            position: relative;
            z-index: 1;
            padding-bottom: 5px;

            &:before {
              content: '';
              background-color: #fff;
              width: 30px;
              height: 1px;
              bottom: 0;
              left: 0;
              z-index: 2;
              position: absolute;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }

        span.txt {
          display: block;
          color: #fff;
          font-weight: 300;
          font-size: 14px;
          line-height: 130%;
          padding-top: 20px;
        }

        span.date {
          display: block;
          font-size: 12px;
          font-weight: 200;
          color: #fff;
          padding-top: 15px;
        }
      }
    }

    .hdMid {
      width: 24.085%;
      margin-right: 1.1915%;
      background-color: rgba($color: #3c3c3b, $alpha: .05);

      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
      }

      .hdInfo {
        padding-left: 10px;
        padding-right: 10px;

        h3 {
          padding-top: 20px;

          a {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            color: #3c3c3b;
            line-height: 130%;
            position: relative;
            z-index: 1;
            padding-bottom: 5px;

            &:before {
              content: '';
              background-color: #3c3c3b;
              width: 30px;
              height: 1px;
              bottom: 0;
              left: 0;
              z-index: 2;
              position: absolute;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }

        span.txt {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
          padding-top: 20px;
        }

        span.date {
          display: block;
          font-size: 12px;
          font-weight: 300;
          color: #b1b1b1;
          padding-top: 15px;
        }
      }
    }

    .hdRight {
      width: 24.085%;
      background-color: rgba($color: #3c3c3b, $alpha: .05);

      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
      }

      .hdInfo {
        padding-left: 10px;
        padding-right: 10px;

        h3 {
          padding-top: 20px;

          a {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            color: #3c3c3b;
            line-height: 130%;
            position: relative;
            z-index: 1;
            padding-bottom: 5px;

            &:before {
              content: '';
              background-color: #3c3c3b;
              width: 30px;
              height: 1px;
              bottom: 0;
              left: 0;
              z-index: 2;
              position: absolute;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }

        span.txt {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
          padding-top: 20px;
        }

        span.date {
          display: block;
          font-size: 12px;
          font-weight: 300;
          color: #b1b1b1;
          padding-top: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #hoatDongPage .hdRows .hdLeft {
    width: 100%;
    margin-right: 0;
    order: 0 !important;
    min-height: 50.042vw;
    height: auto;
    padding-top: 100px;
  }

  #hoatDongPage .hdRows .hdMid {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    order: 1 !important;
  }

  #hoatDongPage .hdRows .hdRight {
    width: 100%;
    order: 2 !important;
    margin-top: 20px;
  }

  #hoatDongPage .hdRows .hdMid img,
  #hoatDongPage .hdRows .hdRight img {
    height: 50.042vw;
  }
}

/*
=======================
= Hoạt động chi tiết  =
=======================
*/
#hoatDongChiTiet {
  .hdCt01 {
    padding-top: 70px;
    padding-bottom: 70px;

    .hdCt01Rows {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      .hdCt01Left {
        width: 280px;
        text-align: center;
        padding-top: 140px;

        ul {
          max-width: 40px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: block;

          li {
            display: block;
            border: 1px solid #bbbbb9;
            border-bottom: 0;
            font-size: 16px;
            color: #bbbbb9;

            a {
              height: 38px;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: ease all 0.35s;

              &:hover {
                background-color: #575757;
                color: #fff;
              }
            }

            &:first-child {
              font-size: 12px;
              color: #fff;
              font-weight: 400;
              background-color: #bbbbb9;
            }

            &:last-child {
              border-bottom: 1px solid #bbbbb9;
            }

          }
        }
      }

      .hdCt01Right {
        width: calc(100% - 280px);

        .hdTt {
          text-align: center;

          h2 {
            font-size: 30px;
            color: #575757;
            text-transform: uppercase;
            line-height: 130%;
            font-weight: 400;
          }

          span.hdDate {
            display: block;
            color: #acba14;
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            padding-top: 10px;
          }
        }

        .hdFullTxt {
          font-size: 18px;
          font-weight: 300;
          line-height: 130%;
          color: #3c3c3b;
          padding-top: 40px;
        }
      }
    }
  }

  .hdCt02 {
    background-color: rgba($color: #3c3c3b, $alpha: .04);
    padding-top: 70px;
    padding-bottom: 70px;

    h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;
      color: #acba14;
      line-height: 120%;
      position: relative;
      z-index: 1;
      padding-bottom: 15px;

      &:before {
        content: '';
        background-color: #3c3c3b;
        width: 40px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }

    .hdCtSlick{
     
      overflow: hidden;
      width: 100%;
      margin-top: 45px;

      .slick-track {
        margin-left: -6px;
        margin-right: -6px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
      }

      .slick-dots {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        max-width: 85%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        padding-top: 50px;

        li {
          width: 50%;
          border-radius: 0;
          border: 0;
          margin: 0;
          height: auto;
          background-color: transparent;
        }

        .slick-active {
          background-color: rgba(60, 60, 59, 0.3);
          height: 4px;

          &:before {
            display: none;
          }
        }
      }

      .slickhd-counter {
        font-size: 14px;
        font-weight: 300;
        color: #757575;
        position: absolute;
        bottom: -6px;
        left: 0;
      }

      .slick-arrow {
        position: absolute;
        right: 10px;
        bottom: -4px;
        z-index: 1;
        font-size: 24px;
        color: rgba(60, 60, 59, 0.6);
        font-weight: 400;
      }

      .fa-angle-left {
        right: 33px;
      }

    }

    .hdCtItem {
        background-color: #fff;
        margin-left: 6px;
        margin-right: 6px;

        img {
          height: 190px;
          width: 100%;
          object-fit: cover;
        }

        h3 {
          padding-top: 15px;
          a {
            font-size: 18px;
            color: #3c3c3b;
            line-height: 122%;
            font-weight: 400;
            text-transform: uppercase;

            &:hover {
              text-decoration: underline;
            }
          }

          position: relative;
          z-index: 1;
          padding-bottom: 5px;
          margin-bottom: 20px;

          &:before {
            content: '';
            width: 30px;
            height: 1px;
            background-color: #3c3c3b;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
          }
        }

        span.txt {
          display: block;
          font-size: 14px;
          font-weight: 300;
          color: #3c3c3b;
          line-height: 130%;
        }

        .hdCt02Txt {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 15px;
          padding-bottom: 25px;
        }
        span.hdCat{
          display: block;
          a{
            display: inline-block;
            border: 1px solid #acba14;
            color: #acba14;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 120%;
            font-weight: 400;
            padding: 6px 5px 4px 5px;
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }
        span.hdDate{
          display: block;
          font-size: 12px;
          color: #acacab;
          font-weight: 400;
          line-height: 120%;
          padding-top: 8px;
        }
      }
  }
}

@media screen and (max-width: 767px) {
  #hoatDongChiTiet .hdCt02 .hdCtSlick .slick-track{
    margin-left: 0;
    margin-right: 0;
  }
  #hoatDongChiTiet .hdCt02 .hdCtItem{
    margin-left: 0;
    margin-right: 0;
  }
  #hoatDongChiTiet .hdCt02 .hdCtSlick .slick-arrow{
    display: none !important;
  }
  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Left {
    width: 100%;
    padding-top: 20px;
    order: 1;
  }

  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Right {
    width: 100%;
    order: 0;
  }

  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Right .hdFullTxt {
    font-size: 14px;
    line-height: 140%;
  }

  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Left ul {
    max-width: unset;
    font-size: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
  }

  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Left ul li {
    min-width: 40px;
    height: 40px;
    vertical-align: middle;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bbbbb9;
  }

  #hoatDongChiTiet .hdCt01 .hdCt01Rows .hdCt01Left ul li a {
    width: 100%;
  }

  #hoatDongChiTiet .hdCt01 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*
======================
= Cơ hội nghề nghiệp =
======================
*/
#coHoi {
  padding-top: 60px;

  .chContent01 {
    .grid-915 {
      max-width: 915px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
        color: #3c3c3b;
        line-height: 120%;
      }

      .chTxt {
        font-size: 18px;
        font-weight: 300;
        color: #3c3c3b;
        line-height: 122%;
        padding-top: 30px;
      }
    }

    ul.chBanner {
      font-size: 0;
      text-align: center;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 50px;

      li {
        display: inline-block;
      }
    }
  }

  .chContent02 {
    padding-top: 60px;

    h2 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 400;
      color: #acba14;
      line-height: 120%;
    }

    .ch02Rows {
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: stretch;
      margin-top: 48px;

      .ch02Item {
        width: 48.936%;
        margin-right: 2.128%;

        &:nth-child(2n) {
          margin-right: 0;
        }

        .ch02IChild {
          overflow: hidden;
          width: 100%;
          margin-bottom: 20px;

          h3 {
            text-transform: uppercase;
            padding-left: 16px;
            cursor: pointer;
            font-size: 24px;
            font-weight: 400;
            color: #3c3c3b;
            line-height: 120%;
            height: 63px;
            border: 1px solid #e3e2e2;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            z-index: 1;
            background-color: #f8f8f8;
            padding-right: 65px;

            &:before {
              content: "\f107";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              color: #3c3c3b;
              font-size: 24px;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              z-index: 3;
              background-color: #d5d5d5;
              width: 65px;
              height: 100%;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: ease all 0.35s;
            }
          }

          .ch02FullTxt {
            overflow: hidden;
            width: 100%;
            background-color: #f8f8f8;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 40px;
            font-size: 24px;
            font-weight: 300;
            color: #3c3c3b;
            line-height: 120%;
            padding-bottom: 42px;
            position: relative;
            display: none;
          }

          ul.chList {
            font-size: 0;
            text-align: center;
            padding-top: 35px;

            li {
              display: inline-block;
              vertical-align: middle;
              padding-right: 35px;
              padding-bottom: 32px;

              &:nth-child(2n) {
                padding-right: 0;
              }

              a {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff;
                line-height: 120%;
                height: 35px;
                min-width: 235px;
                background-color: #acba14;
                text-transform: uppercase;
                transition: ease all 0.35s;
                border: 1px solid #acba14;

                &:hover {
                  background-color: #fff;
                  color: #acba14;
                }
              }
            }
          }
        }

        h3.active {
          color: #acba14;
          border-color: #acba14;

          &::before {
            // transform: rotate(90deg);
            content: '\f106';
            color: #acba14;
          }
        }
      }
    }
  }
}
/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 960px;
  margin: 0 auto; 
  h3{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 140%;
  }
  input{
    border-radius: 0;
  }
  input[type="file"]{
    border: 0;
    padding: 0;
  }
  input[type="submit"]{
    padding: 0;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #acba14;
    background-color: #acba14;
    transition: ease all 0.35s;
    text-transform: uppercase;
    color: #fff;
    &:hover{
      background-color: #fff;
      color: #acba14;
    }
  }
}
.mfp-content{
  z-index: 99999999;
}
.fromRecurit{
  ul{
    li{
      display: block;
      padding-top: 10px;
      padding-bottom: 5px;
      span{
        display: block;
      }
    }
  }
}




/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
    transition: all 0.5s;
    
    transform: scale(0) rotate(500deg);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.5s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0) rotate(500deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}



/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;
    
    transform: translateX(-50px);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: translateX(50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  
  .mfp-content {
   vertical-align:top; 
  }
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    
    transform: translateY(-100px);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.2s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: translateY(-50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


/* 

====== 3d unfold ======

*/
.mfp-3d-unfold {
  
 
  .mfp-content {
    perspective: 2000px; 
  }
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }
  
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.5s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}




/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    transform: scale(1.3); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(1.3); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}



/* 

====== "Hinge" close effect ======

*/

@keyframes hinge {
	0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }	
	20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }	
	100% { transform: translateY(700px); opacity: 0; }
}

.hinge {
  animation-duration: 1s;
	animation-name: hinge;
}
.mfp-with-fade {
  // before-open state
  .mfp-content,
  &.mfp-bg {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  // open state
  &.mfp-ready {
    .mfp-content {
     opacity: 1; 
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }
  
  // closed state
  &.mfp-removing {
    &.mfp-bg {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 1199px) {
  #coHoi .grid-1175 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1068px) {
  #coHoi .chContent02 .ch02Rows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item {
    width: 100%;
    margin-right: 0;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item .ch02IChild ul.chList li:nth-child(2n) {
    padding-right: 35px;
  }
}

@media screen and (max-width: 767px) {
  #coHoi .chContent01 .grid-915 .chTxt {
    font-size: 14px;
  }

  #coHoi .chContent01 ul.chBanner li {
    display: block;
    padding-bottom: 20px;
  }

  #coHoi .chContent01 ul.chBanner {
    display: block;
    padding-top: 30px;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item .ch02IChild .ch02FullTxt {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item .ch02IChild h3 {
    font-size: 15px;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item .ch02IChild h3 {
    height: 50px;
  }

  #coHoi .chContent02 .ch02Rows .ch02Item .ch02IChild h3:before {
    width: 50px;
  }
}

/*
======================
= Hệ thống phân phối =
======================
*/
#heThongPhanPhoi {
  padding-top: 45px;
  padding-bottom: 20px;

  ul.htSel {
    font-size: 0;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;

    li {
      display: inline-block;

      select {
        font-size: 20px;
        color: #3c3c3b;
        height: 50px;
        width: 335px;
        border: 1px solid #d6d6d6;
        background-image: url("images/ht-img01.jpg");
        background-position: center right 12px;
        background-repeat: no-repeat;
        -webkit-appearance: none;
      }

      button {
        width: 105px;
        height: 50px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #acba14;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .htContent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 30px;

    .htLeft {
      width: 41.447%;
      background-color: rgba($color: #3c3c3b, $alpha: .05);
      margin-right: 2.383%;
      padding-right: 10px;
      height: 760px;
      overflow-y: auto;

      .htLeftS {
        min-height: 450px;
      }

      &::-webkit-scrollbar-track {
        padding: 1px 0;
      }

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgba($color: #3c3c3b, $alpha: .4);
      }

      ul {
        li {
          display: block;
          border-bottom: 1px solid rgba($color: #736553, $alpha: .15);
          padding-left: 15px;
          padding-top: 25px;
          padding-bottom: 20px;

          &:last-child {
            border-bottom: 0;
          }

          a {
            &:hover {
              text-decoration: none;
              color: $color4;
            }
          }

          span {
            display: block;
          }

          span.htName {
            font-size: 20px;
            font-weight: 400;
            color: #3c3c3b;
            line-height: 120%;
          }

          span.htAddress {
            font-size: 16px;
            color: #3c3c3b;
            line-height: 120%;
            font-weight: 300;
            padding-top: 10px;
          }

          span.htTel {
            font-size: 16px;
            color: #3c3c3b;
            line-height: 120%;
            font-weight: 300;
            padding-top: 2px;
          }

          span.htBtn {
            text-align: right;
            font-size: 15px;
            color: #acba14;
            font-weight: 400;
            padding-top: 8px;
          }

          i {
            color: #acba14;
            font-weight: 400;
          }
        }
      }
    }

    .htRight {
      width: 56.17%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #heThongPhanPhoi {
    .grid-1175 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #heThongPhanPhoi ul.htSel li select {
    width: 27.940vw;
    font-size: 15px;
  }

  #heThongPhanPhoi ul.htSel li button {
    font-size: 12px;
    width: 8.757vw;
  }
}

@media screen and (max-width: 767px) {
  #heThongPhanPhoi ul.htSel li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  #heThongPhanPhoi ul.htSel {
    display: block;
  }

  #heThongPhanPhoi ul.htSel li select {
    width: 100%;
  }

  #heThongPhanPhoi ul.htSel li button {
    font-size: 15px;
    width: 100%;
  }

  #heThongPhanPhoi .htContent .htLeft {
    width: 100%;
    margin-right: 0;
  }

  #heThongPhanPhoi .htContent .htRight {
    width: 100%;
    margin-top: 30px;
  }

  #heThongPhanPhoi .htContent .htRight iframe {
    height: 400px;
  }
}

/*
==============
==  Sản phẩm =
==============
*/
#spPage {
  .spContent01 {
    padding-bottom: 56px;
  }

  .spC01Rows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 65px;

    .spCo01Left {
      width: 28.085%;
      margin-right: 3.404%;
      padding: 0 20px;
      padding-top: 28px;

      border: 1px solid #a2af11;

      h3 {
        @include style_text(20px, 120%, 0, 400, #acba14);
      }

      ul {
        margin: 23px 0 23px 0;

        li {
          &:not(:first-child) {
            margin-top: 12px;
          }

          label {
            display: block;
            width: 100%;
            padding: 0 10px;
            margin: 0;

            input {
              display: none;

              &:checked {
                ~.checkmark {
                  &::after {
                    content: "";
                  }
                }
              }
            }

            .checkmark {
              position: relative;
              padding-left: 30px;
              padding-top: 1px;
              cursor: pointer;
              @include display_flex(center, nowrap, flex-start);
              @include style_text(16px, 130%, 0, 400, #3c3c3b);

              strong {
                display: inline-block;
                width: 21px;
                height: 21px;
                margin-right: 10px;
                background-color: $color1;
              }

              &::before {
                content: "";
                width: 20px;
                height: 20px;
                border: 1px solid #a2af11;
                @include absolute_(0, 0, 0, 0);
              }

              &::after {
                width: 14px;
                height: 14px;
                background-color: #a2af11;
                @include absolute_(3px, 0, 0, 3px);
              }
            }
          }
        }
      }
    }

    .spCo01Right {
      width: 68.511%;
      padding-top: 35px;
      border-top: 1px solid #9EB100;

      .spSlick {
        .spItem {
          margin-right: 40px;
          width: 245px !important;
        }

        .slick-arrow {
          position: absolute;
          bottom: -5px;
          right: 20px;
          font-size: 24px;
          color: #3c3c3b;
          font-weight: 400;
        }

        .custom_paging {
          border-bottom: 1px solid rgba($color: #000000, $alpha: .25);
          max-width: 730px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          display: flex;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          justify-content: space-between;
          padding-top: 20px;

          li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            text-indent: -99999px;
            // font-size: 0;
            // border-bottom: 4px solid #000;
            // min-width: 128px;
            width: 50%;
          }

          li.slick-active {
            border-bottom: 2px solid rgba($color: #000000, $alpha: .3);
          }
        }

        .spItem {

          .boxes {
            .item-product {
              width: 100%;
            }
          }
        }
      }

      .boxes {
        justify-content: space-between;

        .item-product {
          width: 100%;
          margin-bottom: 32px;
          padding: 20px 20px 26px 20px;
          border: 1px solid #9EB100;
          position: relative;

          .hot-news {
            width: 60px;
            height: 26px;
            text-align: right;
            padding: 8px 10px;
            text-transform: uppercase;
            @include absolute_(35px, 0, 0, 0);
            @include style_text(12px, 100%, 0, 600, #ffffff);
            background-color: #a2af11;
            z-index: 9;
          }

          .thumbnail-product {

            margin-bottom: 17px;
            height: 193px;

            >* {
              display: block;
              width: 100%;
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }

          h2 {
            text-transform: uppercase;
            padding-bottom: 6px;
            @include style_text(15px, 120%, 1px, 500, #3c3c3b);
          }

          p {
            @include style_text(12px, 135%, 0, 400, #3c3c3b);
            margin: 0;
          }

          a.more-infor {
            @include style_text(12px, 130%, 0, 500, #acba14);
            text-transform: uppercase;
            position: relative;
            padding: 15px 0 5px 0;
            display: inline-block;

            &::before {
              content: "";
              @include absolute_(unset,unset,0,0);
              width: 22px;
              height: 1px;
              background-color: #3c3c3b;

              transition: ease all 0.35s;
              -webkit-transition: ease all 0.35s;
              -moz-transition: ease all 0.35s;
              -ms-transition: ease all 0.35s;
              -o-transition: ease all 0.35s;
            }

            &:hover::before{
              width: 60%;
            }
          }
        }

      }


    }

  }

  .spContent02 {
    padding-bottom: 84px;
    padding-top: 63px;
    background-color: #f9f9f9;

    h2 {
      text-transform: uppercase;
      padding-bottom: 15px;
      @include style_text(30px, 100%, 0, 500, #acba14);
      position: relative;

      &::before {
        content: "";
        width: 43px;
        height: 1px;
        background-color: #3c3c3b;
        @include absolute_(unset, 0, 0, 0);
        content: "";

      }
    }

    .spWrap02 {
      padding-top: 45px;

      .slick-slider {
        margin: 0 -8px;
      }

      .spItem {
        margin: 0 8px;
        background-color: $color2;
      }

      .item-info {
        padding: 26px 14px 17px 14px;

        h2 {
          @include style_text(18px, 140%, 0, 500, #3c3c3b);
          text-transform: uppercase;
          position: relative;
          padding-bottom: 9px;
          a{
            color: #3c3c3b;
            &:hover{
              color: $color4;
              text-transform: uppercase;
                  }
          }
          &::before {
            content: "";
            width: 43px;
            height: 1px;
            background-color: #3c3c3b;
            @include absolute_(unset, 0, 0, 0);
          }
        }

        .spITxt {
          display: block;
          padding-top: 17px;
          padding-bottom: 10px;
          @include style_text(14px, 130%, -0.5px, 400, #3c3c3b);
        }

        .spIDate {
          @include style_text(12px, 100%, 0, 400, #afafaf);
        }
      }
    }

    .spImg {
      display: block;
      width: 100%;
      height: 192px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }

}

.boxes {
  @include display_flex(center, wrap, flex-start);
}

.slick-counter {
  font-size: 14px;
  font-weight: 300;
  color: #757575;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.custom_paging {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  // max-width: 980px;
  width: calc(100% - 180px);
  margin-left: 78px;
  margin-right: auto;
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  padding-top: 34px;
}

.slick-arrow {
  position: absolute;
  bottom: -10px;
  right: 46px;
  font-size: 24px;
  color: rgba(60, 60, 59, 0.6);
  font-weight: 400;
}

.fa-angle-left {
  right: 68px;
}

.custom_paging li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: -99999px;
  width: 50%;
}

.custom_paging li.slick-active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#slick_sp {
  display: none;
}

@media screen and(max-width:1000px) {
  #spPage {
    .spC01Rows {
      flex-direction: column;

      .spCo01Left {
        width: 100%;
        margin-right: 0;
        order: 1;
      }

      .spCo01Right {
        width: 100%;
        order: 0;
        margin-bottom: 30px;
      }
    }
  }
}



@media screen and(max-width:768px) {
  #spPage .spC01Rows .spCo01Right .boxes .item-product {
    padding: 10px;
    margin-bottom: 15px;
  }

  #spPage .spC01Rows {
    padding-top: 35px;
  }

  #spPage .spContent01 {
    padding-bottom: 0px;
  }
}

@media screen and(max-width:650px) {

  #spPage .spC01Rows {
    padding-top: 30px;
  }

  #spPage .spContent02 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #spPage .spContent02 h2 {
    letter-spacing: -1px;
  }

  #spPage .spC01Rows .spCo01Right .boxes {
    // flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

    .item-product {
      width: 100%;
      margin-bottom: 4.923vw;
      padding: 10px;

      .thumbnail-product {
        height: 29.692vw;
      }
    }
  }

}

/*
========================
==  Chi tiết sản phẩm  =
========================
*/
#spPage.detail_product {
  .thumbnail-product {
    display: none;
  }

  .spContent02 {
    background-color: $color2;
    padding-bottom: 0;

    .spItem {
      background-color: #f3f2f2;
    }
  }

  // CHI TIET SAN PHAM
  .spContent-01 {
    padding-top: 50px;
    padding-bottom: 60px;

    .thumbnail-product {

      // @include display_flex(center, nowrap, space-between);
    }

    .thumbnail-big {
      .item {
        width: 100%;
        height: 548px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .thumbnail-small {
      .slick-list {
        padding: 0 !important;
        margin: 0 -9px !important;
      }

      button {
        display: none !important;
      }

      .item {
        margin: 25px 10px 0 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // img{
        //   width: 172px;
        //   height: 172px;
        //   object-fit: cover;
        // }
      }
    }

    .boxes {
      align-items: flex-start;
      justify-content: space-between;

      .boxs {
        width: calc(100% - 400px);

        &:first-child {
          padding-right: 25px;
        }

        &:nth-child(2) {
          width: 400px;

          h1 {
            @include style_text(30px, 120%, 0, 500, #acba14);
            text-transform: uppercase;
          }

          .info-product {
            ul {
              padding-left: 10px;
              padding-top: 34px;
              padding-bottom: 43px;
            }

            li {
              &:not(:first-child) {
                margin-top: 17px;
              }

              @include style_text(18px, 120%, 0, 400, #3c3c3b);

              strong {
                font-weight: 600;
              }
            }

            .download-info-product {
              text-align: right;

              a {
                @include style_text(14px, 120%, 0, 400, #fff);
                text-transform: uppercase;
                background-color: #acba14;
                padding: 12px 40px 12px 15px;
                display: inline-block;
                background-image: url(images/ctsp-11.png);
                background-position: right 14px center;
                background-repeat: no-repeat;
              }
            }
          }
        }

      }
    }
  }

  // MÔ TẢ CHI TIẾT
  .spContent00 {
    padding: 28px 0;

    .title-general {
      display: inline-block;
      margin-bottom: 5px;

      &::before {
        left: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
      }
    }

    .boxes {
      @include display_flex(stretch, wrap, space-between);

      .boxs {
        width: 46.9%;

        &:last-child {
          width: 42.5%;
          padding-top: 20px;

          .thong-so-ky-thuat {
            display: block;
            text-transform: uppercase;
            @include style_text(24px, 100%, 0, 500, #3c3c3b);
          }

          .wrap-thongso {
            padding-top: 28px;

            h4 {
              @include style_text(20px, 100%, 0, 600, #3c3c3b);
            }

            table {
              margin-top: 25px;
              width: 100%;

              tr {
                &:not(:first-child) {
                  border-top: 1px solid #e1e1e1;
                }
              }

              td {
                @include style_text(18px, 130%, 0, 400, #3c3c3b);
                padding: 10px 0;

                &:first-child {
                  width: 212px;
                }

                &:last-child {
                  font-weight: 600;
                }
              }
            }
          }

          .tim-hieu-them,.thu-gon {
            width: 100%;
            display: block;
            text-transform: uppercase;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 8px;
            @include style_text(18px,120%,0,500,#acba14);
            position: relative;
      
            &:hover::before{
              width: 100px;
            }
            &::before {
              content: "";
              width: 43px;
              height: 1px;
              background-color: #3c3c3b;
              @include absolute_(unset, unset, 0, 50%);
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);

              transition: ease all 0.35s;
              -webkit-transition: ease all 0.35s;
              -moz-transition: ease all 0.35s;
              -ms-transition: ease all 0.35s;
              -o-transition: ease all 0.35s;
            }
          }

        }

        >p {
          @include style_text(18px, 150%, -0.5px, 400, #3c3c3b);
          margin: 15px 0;
          padding-right: 20px;
        }
      }
    }
  }


  // ƯU ĐIỂM NỔI BẬT
  .spContent01 {
    background-color: #fafafa;
    padding: 48px 0 40px 0;

    ul {
      max-width: 1000px;
      margin: 43px auto 0 auto;
      @include display_flex(center, wrap, space-between);

      li {
        width: 45%;
        min-height: 82px;
        padding-left: 110px;
        margin-bottom: 37px;
        background-position: left center;
        background-repeat: no-repeat;
        @include style_text (18px, 140%, 0, 400, #3c3c3b);
      }
    }
  }

  // THUMBNAIL SLIDER

  .horVerSlider {
    padding: 0;
    @include display_flex(flex-start, nowrap, center);

    #horizon-slider {
      margin-top: 0;

      ul {
        li {
          background-size: cover !important;
        }
      }
    }
  }

}

.click-tim-hieu-them {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 1%, rgba(255,255,255,1) 100%);
  }
}

.click-tim-hieu-them.active {
  height: auto;
  &::before{
    content: none;
  }
}

.title-general {
  display: block;
  text-align: center;
  @include style_text(30px, 130%, 0, 500, #acba14);
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 43px;
    height: 1px;
    background-color: #3c3c3b;
    @include absolute_(unset, unset, 0, 50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.thumbnail-small .slick-slide img {
  width: 100%;
  height: 100%;
}

#spPage .spC01Rows .spCo01Right .spSlick div .spItem:last-child {
  margin-right: 0;
}

#slick1 {
  .custom_paging {
    width: calc(100% - 180px);
    margin-left: 77px;
    padding-top: 0;
  }

  .slick-counter {
    left: 10px;
  }
}

#slick1 .slick-slide>div {
  font-size: 0;
  letter-spacing: 0;
}

#slick1 .slick-slide>div .slide-item {
  width: 30.5% !important;
  margin: 0;
  display: inline-block;
  vertical-align: top;

  &:not(:first-child) {
    margin-left: 4.25%;
  }
}

@media screen and(max-width:1280px) {
  #spPage.detail_product {
    .spContent-01 {
      .boxes {
        align-items: center;
        flex-direction: column;

        .boxs {
          &:nth-child(1) {
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }

  #spPage.detail_product .spContent-01 .boxes .boxs:nth-child(2) .info-product .download-info-product {
    text-align: center;
  }
}

@media screen and(max-width:1000px) {
  #spPage.detail_product {
    .spContent-01 {
      padding-top: 30px;
      padding-bottom: 20px;

      .boxes {
        .boxs {
          width: 100%;

          .thumbnail-big {
            .item {
              height: 65.189vw;
            }
          }

          .thumbnail-small {
            .item {
              margin: 15px 5px 15px 5px;
              // img{
              //   width: 100px;
              //   height: 100px;
              // }
            }
          }

          &:nth-child(1) {
            padding-right: 0;
          }

          &:nth-child(2) {
            width: 100%;

            h1 {
              font-size: 20px;
            }

            .info-product {
              ul {
                padding-left: 0;
                padding-top: 10px;
                padding-bottom: 10px;

                li {
                  font-size: 15px;

                  &:not(:first-child) {
                    margin-top: 10px;
                  }
                }

              }

              .download-info-product {
                text-align: center;
              }
            }

          }
        }
      }
    }

    .spContent00 .boxes {
      flex-wrap: wrap;

      .boxs {
        width: 100% !important;

        >p {
          font-size: 15px;
          padding-right: 0;
          text-align: justify;
        }

        &:last-child {
          .wrap-thongso table {
            td {
              font-size: 15px;
            }

            td:first-child {
              width: 120px !important;
            }
          }
        }
      }
    }

    .spContent01 {
      padding-top: 30px;
      padding-bottom: 20px;

      ul {
        flex-direction: column;
        margin-top: 25px;

        li {
          width: 100%;
          font-size: 15px;
          min-height: 51px;
          margin-bottom: 20px;
          background-position: left top;
          background-size: 50px;
          padding-left: 70px;
        }
      }
    }
  }

  .title-general {
    font-size: 20px;
  }

  #spPage .spContent02 h2 {
    font-size: 20px;
  }

  #spPage .spContent02 .spWrap02 {
    padding-top: 20px;
  }

  .spWrap02 .spSlick4 .custom_paging,
  .spWrap02 .spSlick4 i,
  .spWrap02 .spSlick4 .slick-counter {
    display: none !important;
  }


}

@media screen and (max-width:800px) {
  #spPage.detail_product .horVerSlider {
    display: none;
  }

  #spPage.detail_product .thumbnail-product {
    display: block;
  }

  #slick1 .slick-slide>div .slide-item {
    width: 32% !important;
  }

  #spPage .spC01Rows .spCo01Right .boxes .item-product {
    margin-bottom: 15px;
  }

  #slick1 .slick-slide>div .slide-item:not(:first-child) {
    margin-left: 2%;

  }
}

@media screen and (max-width:650px) {
  #slick1 .slick-slide>div .slide-item {
    width: 100% !important;
  }

  #spPage .spC01Rows .spCo01Right .boxes .item-product .thumbnail-product {
    height: 170px;
  }

  div#slick1 {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width:480px) {


  #spPage .spContent02 .spWrap02 .slick-slider {
    margin: 0;
  }

  #spPage .spContent02 .spWrap02 .spItem {
    margin: 0;
  }

  #spPage .spContent02 .spImg {
    height: 62.500vw;
  }
}

#qtranslate-2 h3{
  display: none;
}
img.alignright { float: right }
img.alignleft { float: left }
img.aligncenter { display: block; margin-left: auto; margin-right: auto }
#wpadminbar{
  z-index: 99999999999999;
}