@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: 'VNF-Futura';
	src: url('../fonts/VNF-Futura.eot');
	src: url('../fonts/VNF-Futura.eot?#iefix') format('embedded-opentype'),
			url('../fonts/VNF-Futura.woff2') format('woff2'),
			url('../fonts/VNF-Futura.woff') format('woff'),
			url('../fonts/VNF-Futura.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


$f1: 'Montserrat', sans-serif;;
$f2: 'Oswald', sans-serif;
$f3: 'Roboto', sans-serif;
$f4: 'Lato', sans-serif;
$f5: 'VNF-Futura', sans-serif;


$color1: #49341b;
$color2: #ffffff;
$color3: #898989;
$color4: #64a739;
$color5: #eb666e;
$color6: #757579;
$color7: #2b2b2b;
$color8: #1f1f1d;
$color9: #10100f;
$color10:#595958;
$color11:#ababab;
$color12:#7a7a7a;
$color13:#222222;
$color14:#666666;
$color15:#f6f5f3;
$color16: #999087;
$colorMenu: #acba14;
$clTxt: #3c3c3b;

$w_container: 1175px;

$f20: 20%;
.col-xs-f20,.col-sm-f20,.col-md-f20,.col-lg-f20{
	@extend %col_bs;
}
.col-xs-f20 {@include col_bs($f20)}
@media (min-width: 768px) {
	.col-sm-f20 {@include col_bs($f20)}
}
@media (min-width: 992px) {
	.col-md-f20 {@include col_bs($f20)}
}
@media (min-width: 1200px) {
	.col-lg-f20 {@include col_bs($f20)}
}

.pad-0{@include pad(0px);}
.pad-5{@include pad(5px);}
.pad-8{@include pad(8px);}
.pad-10{@include pad(10px);}
.margin-auto{@include mar(auto)}
.col-mar-0{@include mar(0px)}
.col-mar-0 > div[class^="col-"]{@include pad(0px);}
.col-mar-5{@include mar(-5px)}
.col-mar-5 > div[class^="col-"]{@include pad(5px);}
.col-mar-8{@include mar(-8px)}
.col-mar-8 > div[class^="col-"]{@include pad(8px);}
.col-mar-10{@include mar(-10px)}
.col-mar-10 > div[class^="col-"]{@include pad(10px);}

.delay02{@include animation_delay(0.2s);}
.delay04{@include animation_delay(0.4s);}
.delay06{@include animation_delay(0.6s);}

.c-img{
	display: block;
	position: relative;
	padding-top: 100%;
	img, .bg{
		@include absolute(0);
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
}
%img-center{
	@include absolute(0);
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}
.hv-over{
	display: block;
	position: relative;
	&:after{
		content: '';
		@include absolute(0);
		border-radius: inherit;
		pointer-events: none;
		@include smooth(0.3s);
	}
	&:hover:after{
		background: rgba(#fff, 0.3);
	}
}
.hv-scale{
	overflow: hidden;
	display: block;
	img{
		@include smooth(0.3s);
	}
	&:hover img{
		@include scale(1.08);
	}
}
.hv-light{
	@include top;
	position: relative;
	overflow: hidden;
	background: #fff;
	&:before, &:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
	}
	&:before{
		right:0;
		bottom:0;
		background: none;
		@include smooth(0.3s);
	}
	&:after{
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.3);
		@include transition(0.75s ease-in-out);
		@include transform(scale3d(2,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0));
	}
	&:hover{
		&:before{
			background: rgba(242, 211, 0, 0.2);
		}
		&:after{
			@include transform(scale3d(2,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0));
		}
	}
}
.hv-u{
	&:hover{
		text-decoration: underline;
	}
}
.hv-o{
	@include smooth(0.3s);
	&:hover{
		opacity: 0.5;
	}
}
.bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.smooth{@include smooth(.2s);
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media all and (max-width: 1199px){
	.md-left{text-align: left;}
	.md-center{text-align: center;}
	.md-right{text-align: right;}
}
@media all and (max-width: 991px){
	.sm-left{text-align: left;}
	.sm-center{text-align: center;}
	.sm-right{text-align: right;}
	.sm-mbt{margin-bottom: 30px}
}
@media all and (max-width: 767px){
	.xs-left{text-align: left;}
	.xs-center{text-align: center;}
	.xs-right{text-align: right;}
	.xs-pad-7{
		margin: 0 -7px;
		&> [class^="col-"]{
			padding: 0 7px;
		}
	}
	.xs-pad-5{
		margin: 0 -5px;
		&> [class^="col-"]{
			padding: 0 5px;
		}
	}
}
.table{
	display: table;
	margin: 0;
	.line{
		display: table-row;
	}
	.cell{
		display: table-cell;
		vertical-align: middle;
	}
	&.bot{
		.cell{
			vertical-align: bottom;
		}
	}
	&.top{
		.cell{
			vertical-align: top;
		}
	}
}
.ic{
	@include middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
body{
	font-size: 14px;
	font-family: $f1;
	line-height: 24px;
	color: #3c3c3b;
	overflow-x: hidden;
}

.s-content{
	ol{
		list-style: decimal;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	ul{
		list-style: initial;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	li{
		list-style: inherit;
		margin-bottom: 5px;
	}
	p{
		margin-bottom: 10px
	}
	img{
		display: block;
		max-width: 100%;
		margin: 10px auto;
		width: auto !important;
		height: auto !important;
	}
	table, iframe{
		max-width: 100%;
	}
}
.s-social{
	.fb_iframe_widget, a.pinterest{
		@include top;
		margin-top: -1px;
	}
}
.slick-arrow{
	cursor: pointer;
	z-index: 1;
	text-align: center;
	position: absolute;
}
.slick-dots{
	text-align: center;
	button{
		display: none;
	}
	li{
		@include middle;
		margin: 0 5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: $color2;
		cursor: pointer;
		position: relative;
		&.slick-active{
			&:before{
				content: '';
				position: absolute;
				border: solid 2px $color2;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				top: -4px;
				left: -4px;
			}
		}
	}
}
.delay02{@include animation_delay(0.2s);}
.delay04{@include animation_delay(0.4s);}
.delay06{@include animation_delay(0.6s);}
.delay08{@include animation_delay(0.8s);}
.delay10{@include animation_delay(1.0s);}
.delay12{@include animation_delay(1.2s);}

.dura5{@include animation_duration(0.5s);}
.dura15{@include animation_duration(1.5s);}
.dura20{@include animation_duration(2.0s);}
.dura100{@include animation_duration(10s);}

.carousel{
	z-index: 0;
	&.carousel-fade .carousel-inner{
		.item{
			-webkit-transition-property: opacity;
			transition-property: opacity;
		}
		.item, .active.left, .active.right{
			opacity: 0;
		}
		.active, .next.left, .prev.right{
			opacity: 1;
		}
		.next, .prev, .active.left, .active.right{
			left: 0;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}
	.carousel-indicators{
		z-index: 1;
		line-height: 1;
		li{
			vertical-align: middle;
		}
	}
	.slider-arrow{
		cursor: pointer;
		z-index: 1;
	}
}

.hv-o:hover{
	opacity: 0.7;
	@include smooth(0.3s);
}

.container{
	max-width: $w_container;
}

/* Title style */
.title-style{
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	font-family: $f3;
	color: $color7;
	margin-bottom: 40px;
	text-transform: uppercase;
	width: 100%;
	line-height: 140%;
}

@media screen and (max-width: 1199px){
	.title-style{
		font-size: 25px;
		margin-bottom: 20px;
	}
}
/* End Title style */


/* Button style */
.btn-more-post{
  color: $color1;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	@include smooth(0.3s);
  &::after{
    font-family: "FontAwesome";
		content: "\f178";
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px; 
	}
	&:hover{
		color: $color5;
	}
}


/* Breadcrumb */
#breadcrumb{
  ul{
    padding: 15px 0;
    border-bottom: 1px dashed #c3c3c3;
    li{
      display: inline-block;
      color: $color1;
      font-size: 16px;
      font-style: italic;
      position: relative;
      padding-right: 25px;
      margin-right: 15px;
      &::before{
        content: "/";
        position: absolute;
        right: 0;
        color: $color3;
      }
      &:last-child{
        padding-right: 0;
        margin-right: 0;
        &::before{
          content: none;
        }
      }
      a{
        color: $color3;
        &:hover{
          color: $color5;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px){
  #breadcrumb{
		margin-top: 70px;
    ul{
      li{
        font-size: 13px;
        padding-right: 15px;
        margin-right: 5px;
      }
    }
  }
}
/* End Breadcrumb */

/* Pagination */
.pagination {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	a {
		color: $color15;
		display: inline-block;
		text-decoration: none;
		width: 40px;
		height: 40px;
		border-radius: 2px;
		text-align: center;
		line-height: 40px;
		border: 1px solid #ebebeb;
		margin-right: 8px;
		font-size: 14px;
		font-family: $f1;
		@include smooth(0.3s);
		&:last-child{
			margin-right: 0;
		}
		&.active, &:hover:not(.active) {
			background-color: $color1;
			color: $color2;
			border: 1px solid $color1;
		}
	}
}

@media screen and (max-width: 1199px){
	.pagination {
		a {
			width: 30px;
			height: 30px;
			line-height: 30px;
			margin-right: 5px;
			font-size: 13px;
		}
	}
}
/* End Pagination */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.parallax{
	width: 100%;
  	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	.img-parallax {
		max-width: inherit;
		height:120%; 
		width:auto;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,0);
		pointer-events: none
	}
}
